.rockets-container {
  .rocket-list {
    list-style: none;
    margin: 0;
    padding-left: 0;
    gap: 2rem;
  }

  .rocket-item {
    gap: 2rem;

    img {
      height: 100%;
      max-height: 350px;
      width: 100%;
      max-width: 450px;
    }

    span {
      margin-right: 1rem;
    }

    .rocket-description {
      line-height: 1.75;
    }

    &__info {
      gap: 2rem;

      &__btn {
        align-self: flex-start;
      }
    }
  }
}
