.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3vh 5vw;
  gap: 10px;
  background-color: skyblue;
  font-size: 16px;

  .header-title {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      height: 65px;
    }
  }

  nav {
    display: flex;
    gap: 3vw;

    a {
      text-decoration: none;
      color: inherit;
    }
  
    .active {
      text-decoration: underline;
    }
  }
}
